body {
  background: linear-gradient(90deg, #a793e4, #e288be);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid #a64ba3;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 4px 4px #701e6d5c;
}

.input-field {
  margin-bottom: 1rem;
  display: flex;
}

.form-div {
  display: flex;
  flex-direction: column;
}

.input-field label {
  flex: 1;
}
.input-field input {
  flex: 2;
  height: 31px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
}

.action {
  text-align: center;
}

.action button {
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 5px;
  background: linear-gradient(90deg, #d78ac5, #b61c8f);
  color: white;
  margin: 5px;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -10px;
}

.grid-container {
  margin-top: 3rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid;
  width: 1rem;
}

.highlight {
  background: cyan;
}

@media only screen and (max-width: 780px) {
  .container {
    width: 95%;
  }
}
